<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class='main-wrapper'>
      {% include header.html %}

      <!-- <div class='hero-bg'>
        <h1><span class='bold'>Southern</span><span class='light'>eer</span> runs the web</h1>
      </div> -->

      <div class="page-content">
        <div class="container">
          {{ content }}
        </div>
      </div>
      <div class='push'></div>
    </div>

    {% include footer.html %}

    <script src="{{ '/assets/js/application.js' | prepend: site.baseurl }}"></script>

  </body>

</html>
