<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="false" />
        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="404" />
            <error statusCode="404" responseMode="File" path="404.html" />
        </httpErrors>
        <rewrite>
            <rules>
          <rule name="Remove WWW prefix" >
            <match url="(.*)" ignoreCase="true" />
            <conditions>
              <add input="{HTTP_HOST}" pattern="^www\.southerneer\.com" />
            </conditions>
              <action type="Redirect" url="http://southerneer.com/{R:1}"
            redirectType="Permanent" />
          </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>