/**
 * index.html - Home page
 */

.hero-bg {
  height: 500px;
  width: 100%;
  // background: url('/assets/images/chatt_bg.jpg') no-repeat;
  // background-size: cover;
  position: relative;

  &::after {
    content: "";
    background: url('/assets/images/chatt_bg.jpg') no-repeat;
    background-size: cover;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

  h1 {
    text-align: center;
    font-size: 5em;
    color: #FFF;
    text-shadow: 2px 2px #323232;
    // color: #000;
    // text-shadow: 1px 1px #DDD;
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: none;
    // visibility: hidden;
  }

  @media screen and (max-width: $screen-sm) {
    h1 {
      font-size: 3em;
      bottom: 20px;
    }
  }
}


.home {
  p, ul, li { font-size: 1.3em; }
}

img.hero {
  width: 100%;
  margin: 40px auto;
}