/**
 * index.html - Home page
 */

img.hero {
  width: 100%;
  margin: 40px auto;
}

p.intro {
  // max-width: 500px;
  margin: 40px 0 40px;
  font-size: 1.5em;
  font-family: $headings-font-family;

  @media (max-width: $screen-xs-max) {
    font-size: 1.2em;
    // line-height: 1em;
  }
}

$br: 20px;

.proj-col {
  padding-right: 0px;
  padding-left: 0px;
}

.portfolio {
  // border-radius: $br;
  overflow: hidden;
  position: relative;
  // margin-bottom: 30px;

  img {
    width: 100%;
    height: auto;
    @include transition(all .5s ease);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }

  a {
    opacity: 0;
    @include transition(opacity .5s ease);
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    width: 100%;
    // border-radius: $br;

    // vertically centered image trick: http://stackoverflow.com/a/7310398/476228
    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      width: 95%; // HACK: not sure why I should have to do this
      text-shadow: 2px 2px #000;
    }

    text-align: center;
    color: white;
    // background: rgba(0,0,0,0.7);
    font-size: 1.5em;
    text-decoration: none;
    font-family: $headings-font-family;

    @media (max-width: $screen-xs-max) {
      font-size: 1em;
      line-height: 1em;
    }
  }

  &:hover {
    a {
      opacity: 1;
    }
    img {
      @include scale(1.03);
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
    }
  }
}

.headshot {
  max-width: 100%;
  height: auto;
}
// .col-headshot {
.row-headshot {
  display: flex;
  align-items: center;

  @media (max-width: $screen-xs-max) {
    display: block;

    .headshot { max-width: 50%; margin-left: auto; margin-right: auto; display: block; }
  }
}

.row {
  padding-top: 20px;
  padding-bottom: 20px;
}