/**
 * Site header
 */
.site-header {
    // border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    // need to get up over the fancy overlay thingy on the home page
    z-index: 2;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 32px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * Home.html
 */
 $break-small: 600px; // where we break into 

// .subheader {
//   min-height:300px;
//   background: url('/assets/chatt_bg.jpg') no-repeat center;
//   background-size: cover;
//   background-attachment: fixed;
//   position: relative;
// }
// .subheader .overlay {
//   background-color: rgba(150, 100, 100, 0.8);
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   -webkit-animation: color_change 10s infinite alternate;
//   -moz-animation: color_change 4s infinite alternate;
//   -ms-animation: color_change 4s infinite alternate;
//   -o-animation: color_change 4s infinite alternate;
//   animation: color_change 4s infinite alternate;
// }
// @-webkit-keyframes color_change {
//   0% { background-color: rgba(100, 100, 100, 0.8); }
//   33% { background-color: rgba(150, 100, 100, 0.8); }
//   66% { background-color: rgba(100, 150, 100, 0.8); }
//   100% { background-color: rgba(100, 100, 150, 0.8); }
// }
// @-moz-keyframes color_change {
//   0% { background-color: rgba(100, 100, 100, 0.8); }
//   33% { background-color: rgba(150, 100, 100, 0.8); }
//   66% { background-color: rgba(100, 150, 100, 0.8); }
//   100% { background-color: rgba(100, 100, 150, 0.8); }
// }
// @-ms-keyframes color_change {
//   0% { background-color: rgba(100, 100, 100, 0.8); }
//   33% { background-color: rgba(150, 100, 100, 0.8); }
//   66% { background-color: rgba(100, 150, 100, 0.8); }
//   100% { background-color: rgba(100, 100, 150, 0.8); }
// }
// @-o-keyframes color_change {
//   0% { background-color: rgba(100, 100, 100, 0.8); }
//   33% { background-color: rgba(150, 100, 100, 0.8); }
//   66% { background-color: rgba(100, 150, 100, 0.8); }
//   100% { background-color: rgba(100, 100, 150, 0.8); }
// }
// @keyframes color_change {
//   0% { background-color: rgba(100, 100, 100, 0.8); }
//   33% { background-color: rgba(150, 100, 100, 0.8); }
//   66% { background-color: rgba(100, 150, 100, 0.8); }
//   100% { background-color: rgba(100, 100, 150, 0.8); }
// }
// .subheader .overlay img {
//   float: left;
//   height: 380px;
//   margin-top: 10px;
//   margin-left: 40px;
//   width: auto;
// }
// .subheader .subheader-text {
//   margin: 0 40px;
//   text-align: center;
//   font-size: 40px;
//   color: #FFFFFF;
//   margin-top: 80px;
//   font-weight: lighter;
//   @media screen and (max-width: $break-small) {
//     display: none;
//   }
// }

.form-error {
  font-size: 20px;
  color: #FF1975;
}


/****************************
Home Header Addition Thingy
****************************/
.addition {
  margin:5% 5%;

  // make width equal height for doing frames
  // http://css-tricks.com/forums/topic/sass-make-width-equal-height/
  .box {
    width: 25%;
    position: relative;
    float: left;
  }
  .box:before{
    content: "";
    display: block;
    padding-top: 100%;  /* ratio of 1:1*/
  }
  .sign {
    width: 12.5%;
  }

  .frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 50%;
    // background-image: url(/assets/wood_grain.jpg);
    // background-size: cover;
    // padding-top: 2.5%;

    div {
      border-radius: 50%;
      background-size: cover;
      width: 95%;
      height: 95%;
      margin: 0 auto;
    }
  }

  .southern {
    background-image: url(/assets/images/home-addition/outkast.jpg);
  }

  .plus, .equals {
    margin: 60% 10% 0;
    width: 80%;
    height: auto;
  }

  .engineer {
    background-image: url(/assets/images/home-addition/blueprints.jpg);
  }

  .southerneer {
    background-image: url(/assets/images/home-addition/ek-round.png);
  }

  

  .southern, .engineer, .southerneer {
    -webkit-box-shadow: 10px 10px 51px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 51px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 51px 0px rgba(0,0,0,0.75);
  }
}

.page-content {
  clear: both;
}