/**
 * Site header
 */
  .site-header {
    border-top: 5px solid $blue;
    // border-bottom: 5px solid $blue;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
  }

  .navbar {
    margin-bottom: 0px;
    font-family: $headings-font-family;
  }
  .navbar-nav {
    font-size: 1.5em;

    // nav icons
    .page-link-icon .fa {
      font-size: 1.1em;
      position: relative;
      bottom: 2px;
    }

    a:hover {
      background-color: transparent !important;
      text-decoration: underline !important;
    }
  }

  .navbar-brand {
    display:block;
    padding: 0;
    margin: 10px 15px;
    margin-left: 0px !important;
    height: auto;

    & > img {
      max-width: 200px;
      height: auto;
    }
  }

  .navbar-toggle {
    border-color: #ddd;

    .icon-bar {
      background-color: #888;
    }
  }


/**
 * Page content
 */
 .page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 32px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  text-align: center;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  margin-bottom: $spacing-unit;
}