<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="subheader">
      <div class="overlay">
        <!-- <img src='/assets/ek-round.png' /> -->
        <div class="subheader-text">
          <p>/ˈsəT͟Hərnir/ - a web technology company focused on building things that work.
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>