<IfModule mod_headers.c>
    <FilesMatch "\\.(ico|jpe?g|png|gif)$">
        Header set Cache-Control "max-age=29030400, public"
        # Header set Last-Modified "Mon, 24 Mar 2014 00:00:00 GMT"
    </FilesMatch>
</IfModule>